<ng-template #sheetTpl>
  <div class="pointer-events-auto fixed inset-0">
    <div
      class="fixed inset-x-0 bottom-0 rounded-t-2xl bg-white shadow-2xl"
      style="padding-bottom: env(safe-area-inset-bottom)"
    >
      <div class="flex justify-center pt-3 border-t border-zinc-100">
        <div class="h-1.5 w-12 rounded-full bg-gray-200"></div>
      </div>

      <div class="flex items-center justify-between px-4 pb-3 pt-3">
        <div class="text-lg font-semibold text-gray-900">{{ title }}</div>

        <button
          type="button"
          class="rounded-lg px-3 py-2 text-md text-gray-600 hover:bg-gray-100"
          (click)="close()"
        >
          ✕
        </button>
      </div>

      <div class="max-h-[65vh] overflow-y-auto px-2 pb-4">
        <button
          type="button"
          class="flex w-full items-center justify-between rounded-md px-4 py-3 text-left transition leading-3"
          *ngFor="let opt of options"
          (click)="choose(opt)"
          [class.bg-[#FFFBE6]]="opt.value === currentValue"
          [class.hover:bg-gray-50]="opt.value !== currentValue"
        >
          <div class="text-[20px] text-gray-900">{{ opt.label }}</div>

          @if (opt.value === currentValue) {
            <div class="ml-3 text-[18px] text-gray-900">✓</div>
          }
        </button>
        @if (options.length === 0) {
          <div class="px-4 py-6 text-center text-sm text-gray-500">No options</div>
        }
      </div>
    </div>
  </div>
</ng-template>
