
@font-face {
  font-family: 'DB Ozone X';
  src: url('../../../assets/font/DBOzoneX.woff2') format('woff2'),
       url('../../../assets/font/DBOzoneX.woff') format('woff'),
       url('../../../assets/font/DBOzoneX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'DB Ozone X';
}

.container-confirm-pay-content {
    width: 90vw;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container-confirm-pay-content {
    width: 60vw;
  }
}

.section-title {
    margin-top: 20px;
    // margin-bottom: 12px;
    font-size: 22px;
    font-weight: 700;
    color: #222;
    font-family: 'DB Ozone X';
}

.fare-group, .addon-section, .tax-section {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #222;
    font-family: 'DB Ozone X';
}

.fare-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #222;
  margin-bottom: 4px;
  font-size: 18px;
}

.flight-type {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #E5BB01;
    font-size: 18px;
    font-weight: 400;
    font-family: 'DB Ozone X';
}

.fare-detail {
  font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  gap: 20px; /* ระยะห่างขั้นต่ำระหว่าง description กับจำนวนเงิน */
  margin: 2px 0;
  color: #444;
}

.fare-detail span {
  white-space: nowrap;
}

.fare-detail.special-bundle {
    font-weight: 600;
    color: #222;
    font-family: 'DB Ozone X';
    font-size: 18px;
    margin-top: 4px;
}

.fare-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin-top: 10px;
  color: #222;
  font-size: 18px;
  padding: 12px 12px;
  border-radius: 8px;
  background: #F5F5F5;
  border: 2px dashed #C7C7C7;
}

.promo-section {
  margin: 18px 0 0 0;
}
.promo-input {
  width: 100%;
  height: 60px;
  padding: 8px 10px;
  border: 1.5px solid #e0e0e0;
  border-radius: 8px;
  font-size: 22px;
  margin-top: 6px;
  outline: none;
}
.promo-input:focus {
  border-color: #000000;
}

.payment-section {
  margin: 18px 0 0 0;
}
.payment-method {
  margin: 8px 0 0 0;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #4F4F4F;
}
.payment-method input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
  background: white;
}

.payment-method input[type="radio"]:checked {
  border-color: #E5BB01;
  background: white;
}

.payment-method input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #E5BB01;
}
.fee {
  font-size: 22px;
  margin-left: 4px;
}
.payment-fee {
  text-align: start;
  color: #222;
  font-size: 22px;
  margin-top: 6px;
  font-weight: 700;
}
.payment-fee-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  margin-top: 6px;
  color: #4F4F4F;
}

.total-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: #FEF0B0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}
.total-label {
    display: flex;
    flex-direction: column;
    .total-label-text {
        font-size: 22px;
        font-weight: 400;
        color: #222;
        font-family: 'DB Ozone X';
    }
    .total-note {
        font-size: 14px;
        color: #6B5503;
        // font-family: 'DB Ozone X';
    }
}
.total-amount {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  margin-top: 4px;
}

.confirm-pay-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 60px;
}
.btn-back {
    width: 100vw;
    height: 60px;
  background: #D2D2D2;
  color: #222;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.2s;
}
.confirm-pay-button-confirm {
    width: 100vw;
    height: 60px;
  background: #FCCD01;
  color: #222;
  border: none;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 14px 0;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(255,193,7,0.10);
  transition: background 0.2s;
}

@media (max-width: 380px) {
    .total-section {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        background-color: #FEF0B0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 4px;
    }
    .total-label {
        display: flex;
        flex-direction: column;
        .total-label-text {
            font-size: 16px;
            font-weight: 400;
            color: #222;
            font-family: 'DB Ozone X';
        }
        .total-note {
            font-size: 10px;
            color: #ff0101;
            font-family: 'DB Ozone X';
        }
    }
}
