
@font-face {
  font-family: 'DB Ozone X';
  src: url('../../../assets/font/DBOzoneX.woff2') format('woff2'),
       url('../../../assets/font/DBOzoneX.woff') format('woff'),
       url('../../../assets/font/DBOzoneX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
font-family: 'DB Ozone X';
}
.error-container {
  min-height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.error-content {
  text-align: center;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.error-icon {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

  // svg {
  //   filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  // }
}

.error-title {
  font-size: 32px;
  font-weight: 700;
  color: #4F4F4F;
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-family: 'DB Ozone X';
}

.error-message {
  font-size: 18px;
  color: #666;
  margin: 0 0 40px 0;
}

.error-actions {
  display: flex;
  justify-content: center;
}

.btn-refresh {
  background: #FCCD01;
  color: #222;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 22px;
  font-weight: 600;
  width: 90vw;
  cursor: pointer;
}



/* Not found passenger */


.notfound-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px 40px;
  background: #ffffff;
  color: #222;
}

.logo {
  margin-bottom: 24px;
  svg { display: block; }
}

.content {
  text-align: center;
  margin-bottom: 32px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #4F4F4F;
  margin-bottom: 12px;
  font-family: 'DB Ozone X';
}

.desc {
  margin-top: 15px;
  font-size: 20px;
  color: #666666;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  width: 90vw;
  max-width: 420px;
  background: #FCCD01;
  color: #222;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 14px 24px;
  font-size: 22px;
  font-weight: 600;
}

